@import '../global-styles/constants.scss';

.que-container {
    padding: 30px;
    text-align: left;
    
    .que-pill {
        margin: 10px;

        .que-question {
            border-radius: 10px;
            border-top-left-radius: 0px;
            display: inline-block;
            padding : 15px;
            background-color: $accent-dark;
            color: whitesmoke;
            font-weight: bold;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                left: -12px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 20px solid $accent-dark;
                border-left: 20px solid transparent;
            }
        }

        .que-options-wrapper {
            display: block;
            margin-top: 8px;

            input {
                border: none;
                border-bottom: 1px solid $primary-color-darken;
                min-height: 30px;
                min-width: 80px;
                padding-left: 20px;
                font-size: 1em;
            }
        }

        .que-option {
            cursor: pointer;
            display: inline-block;
            border-radius: 10px;
            min-width: 60px;
            height: 30px;
            line-height: 30px;
            padding: 0px 8px;
            margin : 5px;
            background-color: $accent-secondary;
            color: whitesmoke;
            font-weight: bold;

            &.selected, &.confirm {
                background-color: $accent-color;
            }

            &.active {
                background-color: yellowgreen;
            }
        }
    }

    .upload-scan-wrapper {
        text-align: center;
    }
}