@import '../global-styles/constants.scss';

.sidebar-wrapper {
    min-height: 80px;
    display: flex;
    align-items: stretch;

    .sb-pill {
        cursor: pointer;
        flex: 1;
        padding: 10px;
        transition: all .2s linear;

        .sb-pill-content {
            height: 100%;
            vertical-align: middle;
            border-radius: 10px;
        }

        &.active .sb-pill-content {
            background-color: $accent-color;
        }
    }
}